.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5)
}

.wishlist {
    width: 80%;
}

.closeBtn {
    --spacing: 10px;
    position: absolute;
    top: var(--spacing);
    right: var(--spacing);
}
